@charset "UTF-8";
body {
  font-family: Roboto, sans-serif;
}

body ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

@media screen and (min-width: 480px) {
  section {
    max-width: 479px;
    margin: 0px auto;
  }
}

header {
  z-index: 9999;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #ECECEC;
}

@media screen and (min-width: 480px) {
  header {
    max-width: 480px;
    height: 60px;
  }
}

@media screen and (max-width: 480px) {
  header {
    max-width: 480px;
    height: 60px;
  }
}

header .cap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

@media screen and (min-width: 480px) {
  header .cap {
    width: -webkit-calc(100% - 30px);
    width: calc(100% - 30px);
    margin: 0 auto;
  }
}

@media screen and (max-width: 480px) {
  header .cap {
    width: -webkit-calc(100% - 30px);
    width: calc(100% - 30px);
    margin: 0 auto;
  }
}

header .cap .logo {
  font-family: Raleway, serif;
  color: #000000;
  text-decoration: none;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}

header .cap .logo > span {
  color: #2196F3;
}

header .header-cap .top-nav a {
  display: block;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.02em;
  text-decoration: none;
  padding: 8px 0px;
  color: #2196F3;
}

header .header-cap {
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  height: 393px;
  padding: 60px 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #ffffff;
  -webkit-box-shadow: 0px 4px 4px -4px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 4px 4px -4px rgba(0, 0, 0, 0.4);
  opacity: 0;
  pointer-events: none;
  -webkit-transition: 250ms;
  -o-transition: 250ms;
  transition: 250ms;
  overflow-y: scroll;
}

header .menu .button:hover {
  fill: #2196F3;
}

header .menu .button {
  background: none;
  border: none;
  outline: none;
}

header .menu svg {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
  height: 30px;
  padding-top: 5px;
}

header .menu.is-open .header-cap {
  opacity: 1;
  pointer-events: stroke;
}

header .menu.is-open svg use:last-child {
  opacity: 0;
}

header .menu svg use:last-child {
  opacity: 1;
}

header .menu.is-open svg use:first-child {
  opacity: 1;
}

header .menu svg use:first-child {
  opacity: 0;
}

header .top-nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

header .top-nav li:after {
  content: " ";
  display: block;
  width: 0%;
  height: 4px;
  background: #2196F3;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  -webkit-transition: 250ms;
  -o-transition: 250ms;
  transition: 250ms;
}

header .top-nav .active:after {
  content: " ";
  display: block;
  width: 100%;
  height: 4px;
  background: #2196F3;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  -webkit-transition: 250ms;
  -o-transition: 250ms;
  transition: 250ms;
}

header .top-nav li:hover:after {
  width: 100%;
}

header .top-nav li + li {
  margin-top: 40px;
}

header address {
  margin-top: 40px;
}

header .address {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

header .address li + li {
  margin-top: 16px;
}

header .address a {
  text-decoration: none;
  font-style: normal;
  color: #757575;
}

header .address li a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

header .address .envelope {
  fill: #757575;
  margin-right: 10px;
}

header .address li:nth-child(1):hover .envelope {
  fill: #2196F3;
}

header .address .smartphone {
  fill: #757575;
  margin-right: 10px;
}

header .address li:nth-child(2):hover .smartphone {
  fill: #2196F3;
}

header .address a:hover,
header .address a:focus {
  color: #2196F3;
}

.bg-slider {
  width: 100%;
  height: 400px;
  background: #000;
  color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 480px) {
  .bg-slider {
    background-image: url(/img/header-img.jpg);
  }
}

@media screen and (max-width: 479px) {
  .bg-slider {
    background-image: url(/img/header-img.jpg);
  }
}

.bg-slider h1 {
  font-weight: 900;
  font-size: 26px;
  line-height: 42px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  color: #FFFFFF;
  margin: 0;
}

.bg-slider .slider {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.bg-slider .slider .button {
  display: inline-block;
  min-width: 200px;
  padding: 10px 32px;
  margin-top: 20px;
  background: #2196F3;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  text-decoration: none;
  color: #ffffff;
  letter-spacing: 0.06em;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.9;
  border: none;
  outline: none;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.bg-slider .button:hover,
.bg-slider .button:focus {
  background: #188CE8;
}

@media screen and (max-width: 479px) {
  .hidden {
    display: none;
  }
}

@media screen and (min-width: 480px) {
  .hidden {
    display: none;
  }
}

@media screen and (min-width: 1600px) {
  .hidden {
    display: block;
  }
}

.feature-container {
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
}

.feature-container .feature {
  margin-top: 60px;
}

.feature-container ul li {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.feature-container h2 {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}

.feature-container p {
  width: -webkit-calc(100% - 30px);
  width: calc(100% - 30px);
}

.antenna {
  width: -webkit-calc(100% - 30px);
  width: calc(100% - 30px);
  height: 120px;
  padding: 25px 102px;
  background: #F5F4FA;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  margin-bottom: 30px;
  fill: #212121;
}

.clock {
  width: -webkit-calc(100% - 30px);
  width: calc(100% - 30px);
  height: 120px;
  padding: 25px 102px;
  background: #F5F4FA;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  margin-bottom: 30px;
}

.diagram {
  width: -webkit-calc(100% - 30px);
  width: calc(100% - 30px);
  height: 120px;
  padding: 25px 102px;
  background: #F5F4FA;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  margin-bottom: 30px;
}

.astronaut {
  width: -webkit-calc(100% - 30px);
  width: calc(100% - 30px);
  height: 120px;
  padding: 25px 102px;
  background: #F5F4FA;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  margin-bottom: 30px;
}

.bg-team {
  background: #F5F4FA;
  padding-top: 60px;
  padding-bottom: 94px;
}

.bg-team .section {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.team img {
  width: 100%;
  display: block;
}

.team > li {
  width: 100%;
  background: #ffffff;
  border: 1px solid none;
  -webkit-border-radius: 0px 0px 4px 4px;
          border-radius: 0px 0px 4px 4px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  padding-bottom: 0;
}

@media screen and (min-width: 480px) {
  .team > li {
    max-width: 100%;
  }
}

@media screen and (max-width: 479px) {
  .team > li {
    max-width: 100%;
    color: red;
  }
}

.team ul {
  padding: 0;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 16px;
}

.team .name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: #212121;
}

.team .position {
  padding: 0;
  margin: 0;
  font-weight: normal;
  color: #757575;
}

.team .social {
  width: -webkit-calc(100% - 134px);
  width: calc(100% - 134px);
  padding: 32px 30px;
  padding-top: 16px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.team > li + li {
  margin-top: 30px;
}

.social a {
  display: inline-block;
  width: 44px;
  height: 44px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background: #FFFFFF;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social a:hover,
.social a:focus {
  background: #2196F3;
}

.social a:hover use,
.social a:focus use {
  fill: #FFFFFF;
}

.social svg {
  width: 20px;
  height: 20px;
}

.social use {
  fill: #AFB1B8;
}

.clients {
  width: 100%;
  padding: 60px 0px;
  padding-bottom: 94px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.clients li {
  border: 1px solid #AFB1B8;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  list-style-type: none;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients li:hover {
  border: 1px solid #2196f3;
}

.clients li:nth-of-type(1) svg {
  width: 44px;
  height: 49px;
  fill: #afb1b8;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients li:nth-of-type(2) svg {
  width: 40px;
  height: 52px;
  fill: #afb1b8;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients li:nth-of-type(1):hover svg {
  fill: #2196f3;
}

.clients li:nth-of-type(2):hover svg {
  fill: #2196f3;
}

.clients li:nth-of-type(3) svg {
  width: 41px;
  height: 43px;
  fill: #afb1b8;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients li:nth-of-type(3):hover svg {
  fill: #2196f3;
}

.clients li:nth-of-type(4) svg {
  width: 80px;
  height: 42px;
  fill: #afb1b8;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients li:nth-of-type(4):hover svg {
  fill: #2196f3;
}

.clients li:nth-of-type(5) svg {
  width: 59px;
  height: 47px;
  fill: #afb1b8;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients li:nth-of-type(5):hover svg {
  fill: #2196f3;
}

.clients li:nth-of-type(6) svg {
  width: 89px;
  height: 46px;
  fill: #afb1b8;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients li:nth-of-type(6):hover svg {
  fill: #2196f3;
}

.clients li:last-child {
  margin-bottom: 0px;
  height: 90px;
}

.clients li:nth-last-child(2) {
  margin-bottom: 0px;
}

@media screen and (max-width: 479px) {
  .clients li:nth-last-child(2) {
    margin-bottom: 30px;
  }
}

.clients a {
  display: inline-block;
  width: 210px;
  height: 90px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.clients svg {
  width: 100%;
  height: 100%;
}

.portfolio-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px auto;
}

.portfolio-container li {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style-type: none;
}

.portfolio-nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-bottom: 50px;
}

@media screen and (min-width: 480px) {
  .portfolio-nav {
    margin-top: 60px;
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 480px) {
  .portfolio-nav {
    margin-top: 60px;
    margin-bottom: 40px;
  }
}

.portfolio-nav a {
  display: inline-block;
  padding: 6px  22px;
  color: #212121;
  background: #F5F4FA;
  text-decoration: none;
  text-transform: capitalize;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 480px) {
  .portfolio-nav li:nth-child(4) {
    margin-top: 15px;
    margin-left: 0px;
  }
  .portfolio-nav li:nth-child(5) {
    margin-top: 15px;
  }
}

@media screen and (max-width: 479px) {
  .portfolio-nav li:nth-child(4) {
    margin-top: 15px;
    margin-left: 0px;
  }
  .portfolio-nav li:nth-child(5) {
    margin-top: 15px;
  }
}

.portfolio-nav a:hover, .portfolio-nav a:focus {
  background: #2196F3;
  color: #ffffff;
  background: #2196F3;
}

.portfolio-nav li + li {
  margin-left: 30px;
}

.gallery {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.gallery ul, .gallery li {
  padding: 0;
  margin: 0;
}

.gallery img {
  display: block;
  width: 100%;
}

.gallery ul {
  margin-left: 24px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.gallery > li {
  margin: auto;
  margin-bottom: 30px;
  background: #FFFFFF;
  border: 1px solid #EEEEEE;
}

@media screen and (min-width: 480px) {
  .gallery > li {
    width: -webkit-calc(100% - 30px);
    width: calc(100% - 30px);
  }
}

@media screen and (max-width: 480px) {
  .gallery > li {
    width: -webkit-calc(100% - 30px);
    width: calc(100% - 30px);
  }
}

.gallery .description {
  margin-top: 20px;
  margin-bottom: 4px;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.gallery .tag {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: #757575;
}

.gallery .card {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.gallery .curtain {
  width: 100%;
  height: 100%;
  position: absolute;
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  padding: 63px 24px;
  margin: 0;
  color: #FFFFFF;
  background: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(100%);
      -ms-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.gallery .curtain {
  display: block;
  position: absolute;
  top: 0;
}

.gallery .card:hover .curtain, .gallery .card:focus .curtain {
  -webkit-transform: translateY(0%);
      -ms-transform: translateY(0%);
          transform: translateY(0%);
}

footer {
  background: #2F303A;
  padding: 0;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 480px) {
  footer {
    max-width: 480px;
  }
}

@media screen and (max-width: 479px) {
  footer {
    max-width: 480px;
  }
}

.footer-container {
  padding-top: 60px;
  padding-bottom: 60px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0px auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer-container-1 address {
  text-align: center;
}

.footer-container nav a {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.footer-container nav a span {
  color: #2196F3;
}

.footer-container nav {
  text-align: center;
}

.address-footer {
  color: #ffffff;
  font-style: normal;
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-top: 20px;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.address-footer li + li {
  margin-top: 8px;
}

.address-footer a {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-footer a:hover,
.address-footer a:focus {
  color: #2196F3;
}

.social-footer {
  color: #ffffff;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 60px;
}

.social-footer h3 {
  margin: 0;
  padding: 0;
  margin-top: 60px;
  margin-bottom: 20px;
}

.social-footer ul {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
}

.social-footer li {
  width: 44px;
  height: 44px;
  margin-right: 10px;
}

.social-footer a {
  width: 100%;
  height: 100%;
  background: #ffffff1a;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-footer li:nth-last-child(1) {
  margin-right: 0px;
}

.social-footer svg {
  fill: #FFFFFF;
}

.social-footer a:hover {
  background: #2196F3;
}

.social-footer svg:nth-of-type(1) {
  width: 20px;
  height: 20px;
}

.social-footer svg:nth-of-type(2) {
  width: 20px;
  height: 16px;
}

.social-footer svg:nth-of-type(3) {
  width: 10px;
  height: 20px;
}

.social-footer svg:nth-of-type(4) {
  width: 20px;
  height: 20px;
}

.footer-email-form {
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.footer-email-form label {
  width: 100%;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer-email-form label input {
  margin-bottom: 30px;
  outline: none;
}

.footer-email-form h3 {
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}

.footer-email-form label {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.footer-email-form input {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: rgba(47, 48, 58, 0.1);
  -webkit-border-radius: 4px;
          border-radius: 4px;
  padding: 15px 16px;
  color: rgba(255, 255, 255, 0.6);
}

.footer-email-form button {
  width: 200px;
  height: 50px;
  margin-left: 12px;
  background: #2196F3;
  border: none;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 4px;
          border-radius: 4px;
  font-weight: bold;
  color: #FFFFFF;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-email-form button:hover,
.footer-email-form button:focus {
  background: #188CE8;
}

.footer-email-form svg {
  width: 24px;
  height: 24px;
  fill: #FFFFFF;
  display: inline-block;
  margin: auto;
  margin-left: 10px;
  margin-right: 0px;
}

.backdrop {
  position: fixed;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  z-index: 999;
  top: 0;
  opacity: 1;
  background: rgba(0, 0, 0, 0.2);
  pointer-events: auto;
}

.backdrop.is-hidden {
  opacity: 0;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  pointer-events: none;
}

.backdrop-content {
  position: absolute;
  width: -webkit-calc(100% - 30px);
  width: calc(100% - 30px);
  max-height: 609px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 4px;
          border-radius: 4px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  padding: 40px;
  overflow: scroll;
}

.backdrop-content h3 {
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.data {
  width: 100%;
  color: #757575;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
}

.data textarea {
  resize: none;
  width: 100%;
  height: 120px;
  padding: 12px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  outline: none;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 12px 16px;
  color: #757575;
}

.data textarea:focus {
  border: 1px solid #2196F3;
}

.data label {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 28px;
}

.data label:nth-last-child(1) {
  margin-bottom: 20px;
}

.data input {
  width: 100%;
  height: 40px;
  padding: 12px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  outline: none;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #757575;
}

.data input:focus {
  border: 1px solid #2196F3;
}

.data span {
  position: absolute;
  margin-left: 43px;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.data input:focus ~ .checkbox-name {
  -webkit-transform: translateY(-30px) translateX(-44px);
      -ms-transform: translateY(-30px) translateX(-44px);
          transform: translateY(-30px) translateX(-44px);
}

/* цвет иконок #2196F3 */
.data label:nth-of-type(1) svg {
  fill: #212121;
  position: absolute;
  width: 12px;
  height: 12px;
  margin-left: 15px;
  /* outline: 1px solid teal; */
}

.data label:nth-of-type(2) svg {
  fill: #212121;
  position: absolute;
  width: 13px;
  height: 13px;
  margin-left: 15px;
  /* outline: 1px solid teal; */
}

.data label:nth-of-type(3) svg {
  fill: #212121;
  position: absolute;
  width: 15px;
  height: 12px;
  margin-left: 15px;
  /* outline: 1px solid teal; */
}

.data label:focus-within svg {
  fill: #2196F3;
}

.check-box {
  height: 24px;
  margin: 0;
}

input[name="licens"] {
  opacity: 0;
}

input[name="licens"]:checked ~ .checkbox {
  background-image: url("../img/svg/icon-checked.svg");
}

.data .checkbox {
  width: 17px;
  height: 15px;
  background-image: url("../img/svg/icon-check.svg");
  background-repeat: no-repeat;
  position: absolute;
  left: 12px;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.data .comments {
  position: absolute;
  top: -30px;
  left: 0;
}

.check-box span {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 0.03em;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.data > button {
  width: 200px;
  height: 50px;
  margin-left: 12px;
  background: #2196F3;
  border: none;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 4px;
          border-radius: 4px;
  font-weight: bold;
  color: #FFFFFF;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-left: auto;
  margin-right: auto;
}

.data > button:hover,
.data > button:focus {
  background: #188CE8;
}

.check-box a {
  color: #188CE8;
}

.data label:focus-within svg {
  fill: #2196F3;
}

.modal-btn {
  position: absolute;
  top: 0;
  right: 0;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-top: 8px;
  margin-right: 8px;
  padding: 7px;
  padding-right: 6px;
  padding-left: 6px;
  padding-top: 3px;
  padding-bottom: 3px;
}

.modal-btn svg {
  width: 11px;
  height: 11px;
}
