.backdrop{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 999;
    top: 0;
    opacity: 1;
    background: rgba(0, 0, 0, 0.2);
    pointer-events: auto;
}


.backdrop.is-hidden{
    opacity: 0;
    transform: scale(1);
    pointer-events: none;
}

.backdrop-content{
    position: absolute;
    width: calc(100% - 30px);
    max-height: 609px;
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 40px;
    overflow: scroll;

    h3{
        font-weight: bold;
font-size: 20px;
line-height: 30px;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
    }
}

.data{
    width: 100%;
    color: #757575;
    font-size: 12px;
line-height: 14px;
letter-spacing: 0.01em;

color: #757575;
}

.data textarea{
    resize: none;
    width: 100%;
    height: 120px;
    padding: 12px 42px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    outline: none;
    border-radius: 4px;
    transition:  250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 12px 16px;
    color: #757575;
}

.data textarea:focus{
    border: 1px solid #2196F3;
}

.data label{
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 28px;
}

.data label:nth-last-child(1){
    margin-bottom: 20px;
}

.data input{
    width: 100%;
    height: 40px;
    padding: 12px 42px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    outline: none;
    border-radius: 4px;
    transition:  250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: #757575;

}

.data input:focus{
    border: 1px solid #2196F3;
}

.data span{
    position: absolute;
    margin-left: 43px;
    transition:  250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.data input:focus ~ .checkbox-name{
    transform: translateY(-30px) translateX(-44px);
}

/* цвет иконок #2196F3 */
.data label:nth-of-type(1) svg{
    fill:  #212121;
    position: absolute;
    width: 12px;
    height: 12px;
    margin-left: 15px;
    /* outline: 1px solid teal; */
}

.data label:nth-of-type(2) svg{
    fill:  #212121;
    position: absolute;
    width: 13px;
    height: 13px;
    margin-left: 15px;
    /* outline: 1px solid teal; */
}

.data label:nth-of-type(3) svg{
    fill:  #212121;
    position: absolute;
    width: 15px;
    height: 12px;
    margin-left: 15px;
    /* outline: 1px solid teal; */
}

.data label:focus-within svg{
    fill: #2196F3;
}

.check-box{
    height: 24px;
    margin: 0;
}

input[name="licens"]{
    opacity: 0;
}

input[name="licens"]:checked ~ .checkbox{
    background-image: url('../img/svg/icon-checked.svg');
}

.data .checkbox{
    width: 17px;
    height: 15px;
    background-image: url('../img/svg/icon-check.svg');
    background-repeat: no-repeat;
    position: absolute;
    left: 12px;
    transition:  250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.data .comments {
    position: absolute;
    top: -30px;
    left: 0;
  }

.check-box span{
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 0.03em;
    user-select: none;
}

.data > button{
    width: 200px;
    height: 50px;
    margin-left: 12px;
    background: #2196F3;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-weight: bold;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.06em;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transition:  250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-left: auto;
    margin-right: auto;
}

.data > button:hover,
.data > button:focus{
    background: #188CE8;
}

.check-box a{
    color: #188CE8;
}


.data label:focus-within svg{
    fill: #2196F3;
}

.modal-btn{
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin-top: 8px;
    margin-right: 8px;
    padding: 7px;
    padding-right: 6px;
    padding-left: 6px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.modal-btn svg{
    width: 11px;
    height: 11px;
}