.footer-container{
    padding-top: 60px;
    padding-bottom: 60px;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    nav a{
        color: #ffffff;
    }
}

.address-footer{
    color: #ffffff;
    font-style: normal;
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-top: 20px;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    a{
        color: rgba(255, 255, 255, 0.6);
        text-decoration: none;
        transition:  250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    a:hover, a:focus{
    color: #2196F3;
    }
}

.social-footer{
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
    h3{
        margin: 0;
        padding: 0;
        margin-bottom: 20px;
    }
    ul{
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        list-style-type: none;
    }
    li{
        width: 44px;
        height: 44px;
        margin-right: 10px;
    }
    a{
        width: 100%;
        height: 100%;
        background:#ffffff1a;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        transition:  250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    li:nth-last-child(1){
        margin-right: 0px;
    }
    svg{
        fill: #FFFFFF;
    }
    a:hover{
        background: #2196F3;
    }
    svg:nth-of-type(1){
        width: 20px;
        height: 20px;
    }
    svg:nth-of-type(2){
        width: 20px;
        height: 16px;
    }
    svg:nth-of-type(3){
        width: 10px;
        height: 20px;
    }
    svg:nth-of-type(4){
        width: 20px;
        height: 20px;
    }
}

.curtain{
    display: block;
    position: absolute;
    top: 0;
}

.footer-email-form{
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    h3{
        margin: 0;
        padding: 0;
        margin-bottom: 20px;
    }
    
    label{
        display: flex;
    }
    input{
        width: 358px;
        height: 50px;
        border: 1px solid rgba(255, 255, 255, 0.3);
        background-color: rgba(47, 48, 58, 0.1);
        border-radius: 4px;
        padding: 15px 16px;
        color: rgba(255, 255, 255, 0.6);
    }
    button{
        width: 200px;
        height: 50px;
        margin-left: 12px;
        background: #2196F3;
        border: none;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        font-weight: bold;
        color: #FFFFFF;
        font-size: 16px;
        line-height: 30px;
        letter-spacing: 0.06em;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        transition:  250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    svg{
        width: 24px;
        height: 24px;
        fill: #FFFFFF;
        display: inline-block;
        margin: auto;
        margin-left: 10px;
        margin-right: 0px;
    }
    button:hover, button:focus{
    background: #188CE8;
}
}

.footer-email-form button:hover,
.footer-email-form button:focus{
    background: #188CE8;
}