.bg-slider{
    width: 100%;
    height: 400px;
    background: #000;
    color: #fff;

    @include flex;

    @media screen and (min-width:480px) {
        background-image: url(/img/header-img.jpg);
    }
    @media screen and (max-width:479px) {
        background-image: url(/img/header-img.jpg);
    }
    

    h1{
    font-weight: 900;
    font-size: 26px;
    line-height: 42px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-align: center;
    color: #FFFFFF;
    margin: 0;
    }

    .slider{
        @include flex;
        flex-direction: column;
    }

    .slider .button{
        display: inline-block;
        min-width: 200px;
        padding: 10px 32px;
        margin-top: 20px;
        background: #2196F3;
        border-radius: 4px;
        text-decoration: none;
        color: #ffffff;
        letter-spacing: 0.06em;
        font-weight: bold;
        font-size: 16px;
        line-height: 1.9;
        border: none;
        outline: none;
        transition:  250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .button:hover,
    .button:focus{      
    background: #188CE8;
}
}

// feature

.hidden{
    display: none;
}

.feature-container{

    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #757575;

    .feature{
        margin-top: 60px;
    }

    ul li{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    h2{
        font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
    }

    p{
        width: calc(100% - 30px);
    }
}



.antenna{
    width: calc(100% - 30px);
    height: 120px;
    padding: 25px 102px;
    background: #F5F4FA;
    border-radius: 4px;
    margin-bottom: 30px;
    fill: #212121;
}

.clock{
    width: calc(100% - 30px);
    height: 120px;
    padding: 25px 102px;
    background: #F5F4FA;
    border-radius: 4px;
    margin-bottom: 30px;
}

.diagram{
    width: calc(100% - 30px);
    height: 120px;
    padding: 25px 102px;
    background: #F5F4FA;
    border-radius: 4px;
    margin-bottom: 30px;
}

.astronaut{
    width: calc(100% - 30px);
    height: 120px;
    padding: 25px 102px;
    background: #F5F4FA;
    border-radius: 4px;
    margin-bottom: 30px;
}

// team

.bg-team{
    background: #F5F4FA;
    padding-top: 60px;
    padding-bottom: 94px;

    .section{
        width: 100%;
        display: flex;
        @include flex;
        flex-direction: column;
    }


}

.team{

    img{
        @media screen and (min-width:480px) {
            width: 450px;
        }
        @media screen and (max-width:479px) {
            width: 450px;
        }
    }

    & > li{
        width: 450px;
        background: #ffffff;
        border: 1px solid none;
        border-radius: 0px 0px 4px 4px;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
        padding-bottom: 0;
    }

    ul{
        padding: 0;
        text-align: center;
        padding-top: 30px;
        padding-bottom: 16px;
    }

    .name{
        margin-bottom: 10px;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.2;
        letter-spacing: 0.03em;
        color: $general-paragraph-text;
    }

    .position{
        padding: 0;
        margin: 0;
        font-weight: normal;
        color: $paragraph-text;
    }

    .social{
        width: calc(100% - 134px);
        padding: 32px 30px;
        padding-top: 16px;
        display: flex;
        margin: 0 auto;
        justify-content: center;
    }

    & > li + li{
        margin-top: 30px;
    }
}

.social a{
    display: inline-block;
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFFFFF;
    border-radius: 50%;
    transition:  250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social a:hover,
.social a:focus{
    background: #2196F3;
}

.social a:hover use,
.social a:focus use{
    fill: #FFFFFF;
}

.social svg{
    width: 20px;
    height: 20px;
}

.social use{
    fill: #AFB1B8;
}

// clients

.clients{
    width: 100%;
    padding: 60px 0px;
    padding-bottom: 94px;
    margin: 0;
    display: flex;
    flex-wrap: wrap;

    li{
        border: 1px solid #AFB1B8;
        border-radius: 4px;
        list-style-type: none;
        padding: 0;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 30px;
        transition:  250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    li:hover{
        border: 1px solid #2196f3;
    }

    li:nth-of-type(1) svg{
        width: 44px;
        height: 49px;
        fill: #afb1b8;
        transition:  250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    li:nth-of-type(2) svg{
        width: 40px;
        height: 52px;
        fill: #afb1b8;
        transition:  250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    li:nth-of-type(1):hover svg{
        fill: #2196f3;
    }

    li:nth-of-type(2):hover svg{
        fill: #2196f3;
    }

    li:nth-of-type(3) svg{
        width: 41px;
        height: 43px;
        fill: #afb1b8;
        transition:  250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    li:nth-of-type(3):hover svg{
        fill: #2196f3;
    }

    li:nth-of-type(4) svg{
        width: 80px;
        height: 42px;
        fill: #afb1b8;
        transition:  250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    li:nth-of-type(4):hover svg{
        fill: #2196f3;
    }
    
    li:nth-of-type(5) svg{
        width: 59px;
        height: 47px;
        fill: #afb1b8;
        transition:  250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    li:nth-of-type(5):hover svg{
        fill: #2196f3;
    }
    
    li:nth-of-type(6) svg{
        width: 89px;
        height: 46px;
        fill: #afb1b8;
        transition:  250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    li:nth-of-type(6):hover svg{
        fill: #2196f3;
    }

    li:last-child{
        margin-bottom: 0px;
    }
    li:nth-last-child(2){
        margin-bottom: 0px;
    }
    

    a{
        display: inline-block;
        width: 210px;
        height: 90px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    svg{
        width: 100%;
        height: 100%;
    }
}

