body{
    font-family: Roboto, sans-serif;
}

header{
    background: #ffffff;
    ul{
        margin: 0;
    }
}

footer{
    background: #2F303A;
    padding: 0;
    margin: 0;
}

.section{
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 94px;
    /* padding-bottom: 94px; */
    margin: 0px auto;
}

main {
    .section:nth-first-child{
        padding-bottom: 200px;
    }
}